@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Почему вам стоит выбрать нас</h1>
    <img src="https://www.russiadiscovery.ru/storage/orig/posts/1038/Kavkazskie_gory.jpg">
    <p class="display-4">Стабильность и надежность</p>
</div>


