@model User_Bank

@{
    ViewData["Title"] = "Успешный перевод средств";
}

<div class="text-left">
    <h1 class="display-4">Перевод успешно выполнен!</h1>
    <p>Счет пользователя уменьшен</p>
    <p>Текущий баланс: @Model.Balance Рублей</p>
</div>

