@{
    ViewData["Title"] = "Пользователь не найден";
}

<div class="text-left">
    <h1 class="display-4">Операция не выполнена</h1>
    <p>Пожалуйста, проверьте правильность введенных данных</p>
    <p>Одного из пользователей не существует</p>
</div>

