@model User_Bank

@{
    ViewData["Title"] = "Успешное cнятие средств";
}

<div class="text-left">
    <h1 class="display-4">Снятие успешно выполнено!</h1>
    <p>Счет пользователя уменьшен</p>
    <p>Текущий баланс: @Model.Balance Рублей</p>
</div>

