@{
    ViewData["Title"] = "Пользователь не найден";
}

<div class="text-left">
    <h1 class="display-4">Пользователь не найден</h1>
    <p>Пожалуйста, проверьте правильность введенных данных</p>
    <p>Или положите средства на счет для регистрации</p>
</div>

