@model User_Bank

@{
    ViewData["Title"] = "Успешное пополнение средств";
}

<div class="text-left">
    <h1 class="display-4">Пополнение успешно выполнено!</h1>
    <p>Счет пользователя пополнен</p>
    <p>Текущий баланс: @Model.Balance Рублей</p>
</div>


